.imageAdderContainer{
    width: fit-content;
    display: flex;
}
.imageWindow{
    width: 700px;
    height: 400px;
    margin-left: 16px;
    border: 5px groove var(--main_app_color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(185deg,#ffc974,aqua 80%,green 99%);
}
.previewImg{
    max-width: 700px;
    min-width: 500px;
    min-height: 250px;
    max-height: 450px;
    border-radius: 10px;
    border: 5px groove var(--main_app_color);
}
.previewAddBlock{
    width: 350px;
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.addBtns{
    width: 100%;
    display: flex;
}
.previewAddFile{
    width: 150px;
    height: 35px;
    border: 3px solid black;
    border-radius: 20px;
    background: linear-gradient(30deg,black,lightgrey,black);
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
}
.previewAddFile:hover{
    background: linear-gradient(grey,grey);
}
.previewFilesList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.previewFileName{
    width: 90%;
    font-size: 18px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    white-space: pre-wrap;
}
.previewFileName:hover{
    color: aquamarine;
    text-shadow: 0 0 5px black;
}
.choosedFile{
    color: aquamarine;
    text-shadow: 0 0 5px black;
}
.previewRemoveBtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}
.previewRemoveBtn:hover{
    background-color: var(--dark_app_color);
    color: white;
}
.errAddedText{
    color: red;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    margin-left: 16px;
}
@media screen and (max-width:1536px){
    .imageWindow{
        width: 450px;
        height: 270px;
        padding: 5px;
    }
    .previewImg{
        max-width: 550px;
        max-height: 220px;
        min-width: 300px;
        min-height: 150px;
    }
    .previewAddBlock{
        width: 250px;
    max-height: 270px;
    }
    .errAddedText{
        font-size: 14px;
    }
    .previewAddFile{
        width: 95px;
        height: 25px;
        font-size: 14px;
        padding: 5px;
    }
    .previewFileName{
        font-size: 14px;
        white-space: normal;
    }
    .previewRemoveBtn{
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
}