.catalogContainer{
    width: 100%;
    display: flex;
}
.catalogContent{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.extraFunctional{
    width: 100%;
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  10px;
    background: linear-gradient(var(--light_app_color) 30%,var(--extra_app_color) );
    border-bottom: 3px groove var(--exclusive_app_color);
    border-right: 3px groove var(--exclusive_app_color);
    border-left: 3px groove var(--exclusive_app_color);
    position: sticky;
    top: 110px;
    z-index: 10000000001;
    border-radius: 0 0 20px 20px;
}
.catalogCards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 36px;
    gap: 10px;
}
.warnText{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    color:black;
    text-shadow: 0 5px 10px white;
    margin: auto;
}

.createBtn{
    text-decoration: none;
    width: 200px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    background: linear-gradient(30deg,var(--last_menu_color),var(--center_menu_color),var(--last_menu_color));
    font-size: 16px;
    font-weight: 800;
    color: black;
    padding: 5px 10px;
    margin-left: 16px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.createBtn:hover{
    border-color: white;
    color: white;
    text-shadow: 0 0 5px black;
}
.createBtn:active{
    transform: scale(0.9);
}
@media screen and (min-width:320px) and (max-width:480px){
    .extraFunctional{
        flex-direction: column;
        gap: 10px;
    }
    .createBtn{
        min-width: 120px;
        width: 100%;
        max-width: 200px;
        font-size: 14px;
        color: black;
        padding: 5px 10px;
        margin: 0;
    }
}
@media screen and (max-height:480px){
    .extraFunctional{
        background: transparent;
        border: none;
        position: sticky;
        top: 10px;
        border-radius: 0;
    }
} 