.appWrapper {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100lvh;
}
.mainContainer{
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  z-index: 100;
  padding: 0 32px;
  margin-bottom: 20px;
}
.contentWrapper{
  width: 100%;
  display: flex;
}
@media screen and (min-width:481px) and (max-width:768px){
  .mainContainer{
    padding: 0 16px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width:320px) and (max-width:480px){
  .mainContainer{
    padding: 0 4px;
    padding-bottom: 0px;
  }
}