    .cardContainer{
        width: 100%;
        height: 200px;
        border-radius: 10px;
        padding: 10px;
        margin:10px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        box-shadow: 5px 5px 50px black;
    }
    .cardPreview{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .cardDescrip{
        min-width: 130px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 10px;
        height: 100%;
        justify-content: space-between;
    }
    .orderCounter{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 20px;
    }
    .orderCounter>input{
      max-width: 50px;
      margin: 0 10px;
      background-color: transparent;
      border: 2px double black;
      border-radius: 5px;
      text-align: center;
      color: black;
      font-size: 16px;
      font-weight: 700;
      text-shadow: 0 0 5px white;
    }
    .descripItem{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        color: black;
        text-shadow: 0 0 5px white;
        text-align: center;
    }
    .extraItem{
      width: 100%;
      display: flex;
      align-items: center;
    }
    .descripRemoveBtn{
        width: 32px;
        height: 32px;
        transition: 0.2s;
        opacity: 0.7;
        cursor: pointer;
    }
    .descripRemoveBtn:hover{
        opacity: 1;
    }
    .descripRemoveBtn:active{
        transform: scale(0.9);
    }
    @media screen and (min-width:320px) and (max-width:480px) {
        .cardContainer{
            height: 100%;
            max-height: 450px;
            flex-direction: column;
        }
        .orderCounter{
            width: 60px;
          }
          .orderCounter>input{
            width: 100%;
            margin: 0;
            font-size: 14px;
            font-weight: 600;
          }
        .extraItem{
            justify-content: space-around;
          }
    }