.orderCardContainer{
    width: 100%;

    padding: 15px 10px;
    background:linear-gradient(30deg,black,var(--dark_app_color),black) ;
    border-bottom: 4px groove var(--exclusive_app_color);
    border-left: 4px groove var(--exclusive_app_color);
    border-radius: 0 10px 0 10px;
    margin-bottom: 10px;
    overflow: auto;
}
.shortCardDatas{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.longCardDatas{
    width: 100%;
    max-width: 1000px;
    margin: 10px 0;
    color: white;
    text-shadow: 0 2px 5px black;
}
.orderImages{
    width: 100%;
    max-width: 1000px;
    margin: 10px 0;
    display: flex;
    gap: 10px;
    overflow: auto;
}
.canceledOrder{
    opacity: 0.5;
    background:linear-gradient(30deg,black,var(--cancel_order_color),black) ;
}
.paidedOrder{
    background:linear-gradient(30deg,black,#ffff62,black) ;
}
.completedOrder{
    background:linear-gradient(30deg,black,var(--success_order_color),black) ;
    opacity: 0.5;
}
.cardItem{
    width: 100%;
    max-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.itemText{
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 5px black;
}
.statusSlt,.saveBtn{
    max-width: 120px;
    height: 25px;
    background-color: var(--main_app_color);
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 14px;
    font-weight: 600;
    border: 4px groove var(--medium_menu_color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.removeOrderBtn{
    width: 25px;
    height: 25px;
    transition: 0.2s;
    cursor: pointer;
}
.saveBtn:hover{
    transform: scale(1.05);

}
.removeOrderBtn:hover{
    transform: scale(1.1);
}
.removeOrderBtn:active,.saveBtn:active{
    transform: scale(0.9);
}
.orderImg{
    width: 200px;
    height: 100px;
    border: 4px solid var(--exclusive_app_color);
    border-radius: 5px;
}