.cardCreatingContainer{
    width: 100%;
    display: flex;
    padding: 32px;
}
.firstSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.firstSectPreview{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 32px;
    margin: 0 auto;
}
.firstSectBotmBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 32px;
    font-size: 26px;
    font-weight: 600;
    color: black;
    text-align: center;
}
.firstSectArea{
    max-width: 1050px;
    min-width: 600px;
    min-height: 300px;
    max-height: 350px;
    margin-top: 16px;
    border-radius: 10px;
    border: 6px groove black;
    background: linear-gradient(30deg,black,lightgrey,black);
    color: black;
    text-shadow: 0 0 5px white;
    font-size: 20px;
    padding: 5px;
}
.secondSection{
    display: flex;
    flex-direction: column;
}
.secondSectItem{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 22px;
    color:black;
    font-weight: 600;
    padding-right: 25px;
    margin: 20px 0;
}
.secondSectInput{
    width: 350px;
    height: 35px;
    padding: 5px;
    color: black;
    text-shadow: 0 0px 5px white;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(30deg,black,lightgrey,black);
    font-size: 18px;
    font-weight: 600;
}
.secondSectArea{
    min-width: 350px;
    max-width: 350px;
    max-height: 150px;
    min-height: 100px;
}
.selectOption{
    background-color: var(--dark_app_color);
    font-size: 20px;
}
.submitBtn{
    width: 250px;
    height: 35px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(30deg,black,lightgrey,black);
    font-size: 22px;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.submitBtn:hover{
    background: linear-gradient(30deg,darkgrey,white,darkgrey);
    border-radius: 15px;
}
.errorReqText{
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color:red;
    text-shadow: 0 5px 5px black;
    text-align: center;
}
.successReqText{
    color:greenyellow
}
@media screen and (max-width:1536px){
    .firstSectBotmBlock{
        font-size: 18px;
    }
    .firstSectArea{
        max-width: 715px;
        min-width: 300px;
        min-height: 200px;
        max-height: 250px;
        font-size: 16px;
    }
    .secondSectItem{
        font-size: 16px;
        padding-right: 0px;
    }
    .secondSectInput{
        width: 200px;
        height: 30px;
        font-size: 14px;
    }
    .secondSectArea{
        min-width: 200px;
        max-width: 200px;
    }
    .selectOption{
        font-size: 14px;
    }
    .submitBtn{
        width: 150px;
        height: 30px;
        font-size: 16px;
    }
    .errorReqText{
        font-size: 16px;
    }

}