.formBlock {
  width: 500px;
  height: max-content;
  border: 6px double var(--exclusive_app_color);
  border-radius: 15px;
  background-color: var(--dark_app_color);
  display: flex;
  flex-direction: column;
  animation: scaled 1s ease-in-out;
  margin:auto;
  padding: 5px;
  font-family: var(--decor_font);
  letter-spacing: 2px;
}
@keyframes scaled {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.formHead {
  color: white;
  text-shadow: 0 5px 5px black;
  text-align: center;
  width: 100%;
}
.formItem{
  width: 100%;
  height: 40px;
  position: relative;
  margin: 20px 0;
  padding: 0 20px;
}
.inputItem {
  width: 100%;
  padding: 5px;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
}
.inputErr{
  position: absolute;
  top: 35px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: darkred;
  text-align: center;
}
.inputPromo{
  width:200px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
}
.submitBtn {
  width: 120px;
  height: 30px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.submitBtn:hover {
  background-color: grey;
  transform: scale(0.98);
}
.errorText{
  font-size: 24px;
  font-weight: 700;
  color: darkred;
  text-shadow: 0 0px 5px white;
  margin: 10px auto;
}
@media screen and (min-width:320px) and (max-width:480px){
  .formBlock{
    min-width: 200px;
    max-width: 350px;
    margin: 70px 25px 0 15px;
  }
}