.formBlock {
  width: 100%;
  max-width: 500px;
  height: 260px;
  border: 6px double var(--exclusive_app_color);
  border-radius: 15px;
  background-color: var(--dark_app_color);
  display: flex;
  flex-direction: column;
  animation: scaled 1s ease-in-out;
  margin: auto;
}
@keyframes scaled {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.formHead {
  color: white;
  text-shadow: 0 5px 5px black;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}
.inputItem {
  max-width: 100%;
  margin: 20px;
  padding: 5px;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
}
.submitBtn {
  width: 100px;
  height: 25px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: grey;
  transform: scale(0.98);
}
.errorReqText{
  font-size: 20px;
  font-weight: 600;
  color: darkred;
  text-shadow: 0 0 5px white;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
@media screen and (min-width:320px) and (max-width:480px){
  .formBlock{
    min-width: 200px;
    max-width: 350px;
    margin: 70px 25px 0 15px;
  }
}