.footerContainer{
    width: 100%;
    height: 60px;
    color: white;
    font-family: var(--decor_font);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    background: linear-gradient(var(--extra_app_color) 1%,var(--light_app_color));
    border-top: 3px groove var(--exclusive_app_color);
    /* position: sticky;
    bottom: 0;
    z-index: 10000; */
    & span{
      letter-spacing: 2px;
      font-weight: 400;
      text-shadow: 0 0 2px black,0 0 5px black,0 1px 10px black;
    }
  }
  .iconsContainer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .sharedLink{
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    
  }
  .sharedLink:hover{
    transform: scale(1.1);
  }
  @media screen and (min-width:320px) and (max-width:480px){
    .footerContainer{
    height: 100%;
    max-height: 150px;
    flex-direction: column;
    }
  } 